<!--header-section-->
<nav class="navbar navbar-expand-md ">
	<div class="container">
		<a class="navbar-brand" href="#">
			<class="img-fluid">
				{% if page.logo %}
					{{ page.logo }}
				{% endif %}
				{% if select_header_below_content_section == 1 %}
					{% if select_header_logo == 1 %}
						<span class="element-style">
							{% if header_logo_text %}
								{{ header_logo_text }}
							{% endif %}
						</span>
					{% endif %}
				{% endif %}
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fa-solid fa-bars"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				{% if page.navigation %}
					{{ page.navigation }}
				{% endif %}
			</div>
		</div>
	</nav>
	<!--header-section-end-->
	<!--header-content-section-->
	{% if select_header_below_content_section == 1 %}
		<section id="hero" class="p-0 {% if select_header_below_content_section_image != 1 %}demo-header {% endif %}">
			<div class="container clearfix">
				<div class="lights d-flex ">
					{% if select_header_below_content_section_image == 1 %}
						{% for key, option in banner_image %}
							<img src=" {{ option.images }} " alt="light" class="img-fluid">
						{% endfor %}
            	{% endif %}
					</div>
			

				<div class="main-content {% if select_header_below_content_section_image != 1 %}demo-header {% endif %}" {% if select_header_below_content_section_image != 1 %} style = "position:relative; top:126px;" {% endif %}>
					<h2 class="white-text header-heading">
						{% if select_content_left_image_section == 1 %}
							<img src=" {{ title_left_img }}" alt="line" class="img-fluid">
						{% endif %}

						{% if select_header_below_title %}
							{{ header_below_title_name }}
						{% endif %}

						{% if select_content_right_image_section == 1 %}
							<img src="{{ title_right_img }}" alt="line" class="img-fluid ms-3">
						{% endif %}
					</h2>

					{% if select_header_below_subtitle == 1 %}
						<h1 class="gold-text">
							{% if header_below_subtitle_name %}
								{{ header_below_subtitle_name }}
							{% endif %}
						</h1>
					{% endif %}

					{% if select_header_below_description == 1 %}
						<p class="gray-text ">
							{% if header_below_description_value %}
								{{ header_below_description_value }}
							{% endif %}
						</p>
					{% endif %}

					{% if select_header_below_button == 1 %}
						<a href="#" class="button gold-text">
							{% if header_below_button_value %}
								{{ header_below_button_value }}
							{% endif %}
						</a>
					{% endif %}
				</div>
			</div>
		</section>
	{% endif %}
	<!--header-content-section-end-->
	<div class="container">
		{% if page.content %}
			{{ page.content }}
		{% endif %}


	</div>
	<!--footer-section-->
	<!--footer-left-section-->
	<footer id="footer-bg">
		<section>
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<nav class="footer-navbar">
							{{ page.footer_left }}
						</nav>
					</div>
					<!--footer-left-section-end-->
					<!--footer-middle-section-->
					{% if select_footer_middle_section == 1 %}
						<div class="col-lg-5 mt-4 mt-lg-0">
							{% if select_footer_middle_section_title == 1 %}
								<h5>
									{% if footer_middle_section_title_name %}
										{{ footer_middle_section_title_name }}
									{% endif %}
								</h5>
							{% endif %}
							{% if select_footer_middle_section_description == 1 %}
								<p>
									{% if footer_middle_section_description_1 %}
										{{ footer_middle_section_description_1 }}
									{% endif %}
								</p>
							{% endif %}
						</div>
					{% endif %}
					<!--footer-middle-section-end-->
					<!--footer-right-section-->
					{% if select_footer_right_section == 1 %}
						<div class="col-lg-4 mt-4 mt-lg-0">
							{% if select_footer_right_section_title == 1 %}
								<h5 class="test">
									{% if footer_right_section_title_name %}
										{{ footer_right_section_title_name }}
									{% endif %}
								</h5>
							{% endif %}
							{% if select_footer_right_section_description == 1 %}
								<p>
									{% if footer_right_section_description_text %}
										{{ footer_right_section_description_text }}
									{% endif %}
								</p>
							{% endif %}
							{% if check_social_icon %}
								<div class=" social-links">
									<a href="facebook_url" class="icon">
										<i class="fa-brands fa-facebook-f"></i>
									</a>
									<a href="twitter_url" class="icon">
										<i class="fa-brands fa-x-twitter"></i>
									</a>
									<a href="youtube_url" class="icon">
										<i class="fa-brands fa-youtube"></i>
									</a>
									<a href="linkedin_url" class="icon">
										<i class="fa-brands fa-linkedin-in"></i>
									</a>
								</div>
							{% endif %}
						</div>
					{% endif %}
					<!--footer-right-section-end-->
				</div>
			</div>
		</section>
		<!--Copyright-section-->
		{% if select_copyright == 1 %}
			<div class="creator text-center">
				<p>
					<div class="creator text-center">
						{% if copyright_text %}
							{{ copyright_text }}
						{% endif %}
					</div>
				</p>
			</div>
		{% endif %}
		<!--copyright-section-end-->
	</footer>
	<!--footer-section-end-->
</body></html>
