@font-face {
    font-family: OpenSans-Bold;
    src: url('/fonts/OpenSans-Bold.ttf');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: OpenSans-BoldItalic;
    src: url('/fonts/OpenSans-BoldItalic.ttf');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: OpenSans-ExtraBold ;
    src: url('/fonts/OpenSans-ExtraBold.ttf');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: OpenSans-ExtraBoldItalic;
    src: url('/fonts/OpenSans-ExtraBoldItalic.ttf');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: OpenSans-Regular;
    src: url('/fonts/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: OpenSans-SemiBold;
    src: url('/fonts/OpenSans-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: OpenSans-SemiBolditalic;
    src: url('/fonts/OpenSans-SemiBoldItalic.ttf');
    font-weight: normal;
    font-style: normal;
  }

