* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 1.42857143;
    transition: opacity 5s ease-in;
    background-color: #e4e4e4;

}

/* Preloader
-------------------------------------------------------*/

.loader-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99999;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    font-size: 0;
    color: #00c9d0;
    display: inline-block;
    margin: -25px 0 0 -25px;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.lead {
    font-size: 13px;
}

.loader div {
    background-color: #d9b06a;
    display: inline-block;
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    opacity: .5;
    border-radius: 50%;
    -webkit-animation: ballPulseDouble 2s ease-in-out infinite;
    animation: ballPulseDouble 2s ease-in-out infinite;
}

.loader div:last-child {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

@-webkit-keyframes ballPulseDouble {

    0%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes ballPulseDouble {

    0%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.container {
    max-width: 960px;
}

.demo-header{
    margin-bottom: 136px;
    height: 440px;
}
a {
    text-decoration: none;
}


h1 {
    font-family: 'Times New Roman', serif;
    font-size: 70px;
    text-transform: uppercase;
}

.header-heading {
    font-family: 'Damion', cursive;
    font-size: 56px;

}

h2 {
    font-size: 35px;
    font-family: 'Damion', cursive;
    text-transform: capitalize;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 32px;
    font-family: 'Damion', cursive;
    color: rgb(174, 174, 174);
    transition: all 0.3s ease;
    margin: 0;
}


h5 {}

.button {
    text-decoration: none;
    background: url(/img/tm-brown-button.png) no-repeat;
    text-align: center;
    /* padding: 13px 65px; */
    margin: 30px auto 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 196px;
    height: 50px;
    text-transform: uppercase;
    font-size: 16px;
    color: #c79c60;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: none;

}

.button:hover,
.button:focus {
    color: white;
}

.gold-text {
    color: #c79c60;
}

.white-text {
    color: #fff;
}

.gray-text {
    color: #949494;
    text-align: justify;
}

section {
    position: relative;
    padding: 60px 0px;
}

/*header-menu*/

.navbar {
    background-color: rgb(100, 67, 0);
    position: relative;
}

.navbar-brand {
    display: flex;
    align-items: center;

}

.navbar-brand span {
    color: #c79c60;
    display: inline-block;
    font-size: 32px;
    margin: 0 10px;
    font-family: 'Damion', cursive;
    text-transform: capitalize;
}

.navbar ul li a {
    color: white;
    display: inline-block;
    padding: 15px 15px 20px 30px !important;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px !important;
    line-height: 1.43 !important;
}

.navbar ul li a:hover,
.navbar ul li a.active {
    color: #c79c60 !important;
}

.navbar ul li a.active {
    background: url(/img/logo.png)no-repeat, url(/img/nav-underline.png) no-repeat;
    background-size: 20px, 74px 17px;
    background-position: 0% 30%, center bottom;
}

a:focus {
    color: #c79c60 !important;
}





/*hero-section*/
#hero {
    background: #271e02;
    text-align: center;
    /* height: 100vh; */
    width: 100%;
}

#hero .lights {
    justify-content: space-between;
}

#hero .main-content {
    position: relative;
    margin-top: -100px !important;
    max-width: 600px;
    margin: auto;
}

#hero .table-set {
    position: relative;
    bottom: -100px;
    float: none;
}

/*about-sec*/
#about {
    position: relative;
    padding-top: 176px;
}


#about .img-box {
    display: inline-block;
    position: relative;
    background: url(/img/shadow.png)no-repeat center bottom;
    padding-bottom: 8px;
}

#about img {
    border-radius: 100%;
    padding: 8px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    transition: all .2s ease-in-out;

}


/*popular-item-sec*/

.line-hori {
    width: 100%;

}

hr {
    border-color: #c79c60;
    border-width: 1.5px;
    opacity: 1;
}

.text-width {
    width: 400px;
    display: flex;
    align-items: center;
}

h4 .bigger {
    font-size: 50px;
}

.card:hover h4 {
    color: #c79c60;
}

.card :hover hr {
    color: #c79c60;
    border-color: #c79c60;
    opacity: 1;
}

.card:hover {
    box-shadow: 0px 15px 10px -15px #111;
}

.card {
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 294px;
    margin: auto;
}

.card hr {
    margin-top: 0px;
    border-color: #949494;
    opacity: .25;
}

.card-body {
    padding: 0 30px 60px;
    position: relative;
    text-align: center;
}

.order-button {
    position: absolute;
    background-color: rgb(82, 76, 76);
    border-radius: 100%;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    left: 96px;
    bottom: -50px
}

.order-button a {
    font-size: 24px;
    border: 2px solid rgb(174, 174, 174);
    border-radius: 50%;
    width: 85px;
    height: 85px px;
    padding-top: 8px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: rgb(174, 174, 174);
    font-family: 'Damion', cursive;
}

.card:hover .order-button a {
    color: #c79c60;
    border-color: #c79c60;
}

/*special-section*/

.special-content {
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 12px 10px 5px;
}

.special-content p {
    margin: 0;
}

/*daily-menu*/

#daily-menu .menu-content P {
    margin: 0;
}

#daily-menu .menu-content span {
    color: #c79c60;
    font-weight: 600;
}

/*footer-section*/
#footer-bg {
    background-color: #271e02;
    color: white;
}

#footer-bg h5 {
    font-weight: bold;
}

#footer-bg .footer-navbar ul li {
    padding: 12px 0 0 0;
}

#footer-bg .footer-navbar ul li a {
    color: white;
    font-weight: 700;
}

#footer-bg .footer-navbar ul li a:hover {
    color: #c79c60;
}

#footer-bg .social-links .icon {
    color: white;
    background-color: #505050;
    font-size: 20px;
    width: 35px;
    height: 35px;
    display: inline-block;
    padding-top: 5px;
    text-align: center;
    margin: 0px 8px 0px 0px;
    transition: all 0.3s ease;
    border-radius: 4px;
}

#footer-bg .social-links .icon:hover {
    background-color: #c79c60;
}
footer#footer-bg p,
footer#footer-bg ul.navbar-nav li a {
    color: #949494;
}
#footer-bg .creator {
    background-color: rgb(100, 67, 0);
    color: black;
    padding: 20px 0px;
    font-weight: 600;
    font-family: 'Damion', cursive;
    font-size: 18px;
}

#footer-bg .creator p {
    margin: 0;
}

#footer-bg .creator p:hover {

    color: #c79c60
}

@media (max-width:991px) {
    #hero .lights {

        width: 250px;
        height: auto;
    }

    section {
        position: relative;
        padding: 40px 0px;
    }

}

@media (min-width:820px) and (max-width:920px) {
    #hero .lights {
        width: auto;
    }

}

@media (min-width:768px) and (max-width:920px) {
    #menu-items .menu-img {
        height: 100%;
    }
}



@media (max-width:767px) {
    #hero .lights img:first-of-type,
    #hero .lights img:last-of-type {
        display: none;
        
    }
    .text-width {
        width: auto;
    }

    .col-lg-12 {
        flex-direction: column;
    }

    #hero .lights {
        width: 275px;
        height: auto;
        margin: 0 auto;
    }
    .navbar .navbar-toggler {
        position: relative;
        top: 0;
    }
    .navbar .navbar-collapse {
        position: absolute;
        left: 0px;
        top: 100%;
        z-index: 9;
    }
    .header-heading {
        font-family: 'Damion', cursive;
        font-size: 42px;
    }

    .navbar-toggler {
        display: block;
        cursor: pointer;
        color: #c79c60;
        font-size: 30px;
        position: fixed;
        top: 15px;
        right: 15px;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 6px 15px;
        z-index: 1000;
        border-radius: 0;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-collapse {
        height: auto;
        position: fixed;
        z-index: 1000;
        top: 69px;
        right: 15px;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .card {

        margin: 0 auto 65px;
    }

    #menu-items .navbar-nav {
        width: 242px;
    }

    #menu-items .nav-link-2 {
        padding: 7px !important;
    }

    .menu-card {
        display: flex;
        justify-content: center;
    }
}

@media (max-width:576px) {
    #hero .lights {
        width: auto;
        justify-content: center;
    }

    .Special-body .header-heading {
        font-size: 28px;
    }

    .header-heading {
        font-family: 'Damion', cursive;
        font-size: 38px;
    }

}

/*today-special-page-section*/
.Special-body #popular-items {
    padding-top: 170px;
}

/*menu-page*/

#menu-items .menu-img {
    position: absolute;
    top: 0;
    left: 0;
    /* height: 100%; */
}


#menu-items .navbar-nav {
    position: relative;
    text-align: center;
    color: white;
    padding-top: 11px;
    position: relative;
    z-index: 1;
    text-align: center;
    text-transform: uppercase;
    /* width: 242px; */

}

#menu-items .navbar-nav .nav-item-2 {
    list-style: none;
}

#menu-items .nav-link-2 {
    color: white;
    display: block;
    padding: 5px;
    transition: all 0.3s ease;
    color: #7c6a51;
}

#menu-items .nav-link-2:hover,
#menu-items .nav-link-2.active {
    color: #c79c60;
}

#menu-items .content-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 20px;
    margin: 40px auto 20px auto;
    max-width: 650px;
    cursor: pointer;
}

#menu-items .content-box .box-text p {
    margin-bottom: 0;
}

#menu-items .content-box .price-box {
    width: 100px;
    height: 100px;
    background-color: rgb(82, 76, 76);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    margin: auto;
}

#menu-items .content-box .price-box a {
    border: 2px solid rgb(174, 174, 174);
    border-radius: 50%;
    width: 85px;
    height: 85px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-align: center;
    padding-top: 7px;
    font-size: 40px;
    color: rgb(174, 174, 174);
    font-family: 'Damion', cursive;
}

#menu-items .content-box .price-box a span {
    font-size: 20px;
    position: absolute;
    top: 24px 0px;
    left: 22px;
}
#menu-items .content-box:hover h3 {
    color: #c79c60;
}

#menu-items .content-box:hover a {
    color: #c79c60;
    border-color: #c79c60;
}

/*contact-page style*/
#contact-form {
    padding: 160px 0px 80px;
}

#contact-form .form-control {
    margin: 15px 0px;
    border-color: #c79c60;
}

.form-control:focus {
    border-color: rgb(136, 93, 33);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(199, 156, 96, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(199, 156, 96, 0.6);
}

iframe {
    border: 6px solid white !important;
    border-radius: 10px;
    margin-top: 45px;
}
.element-style {
    font-weight: bold;
    color: black;
    font-size: 20px;
}

